<FlexboxLayout flexDirection="column" class="flex-layout">
  <ng-container *ngFor="let prop of device.properties">
    <StackLayout
      *ngIf="prop.baseType === 'integer'"
      class="slider-layout"
      flexShrink="0"
    >
      <app-slider
        [value]="prop.value"
        (valueChanged)="onSliderChange($event, prop)"
      ></app-slider>
    </StackLayout>
    <ng-container *ngIf="prop.baseType === 'boolean'">
      <StackLayout *ngIf="prop.name === 'SET_LIGHT0_ON_CTL'" flexGrow="1">
        <SVGImage
          *ngIf="!prop.value"
          src="~/assets/images/default-light.svg"
          (tap)="toggleProperty.emit(prop)"
          class="svg"
        ></SVGImage>
        <SVGImage
          *ngIf="prop.value"
          src="~/assets/images/active-light.svg"
          (tap)="toggleProperty.emit(prop)"
          class="svg"
        ></SVGImage>
      </StackLayout>
      <StackLayout *ngIf="prop.name === 'SET_FAN_ON_CTL'" flexGrow="1">
        <SVGImage
          *ngIf="!prop.value"
          src="~/assets/images/default-fan.svg"
          (tap)="toggleProperty.emit(prop)"
          class="svg fan"
        ></SVGImage>
        <SVGImage
          *ngIf="prop.value"
          src="~/assets/images/active-fan.svg"
          (tap)="toggleProperty.emit(prop)"
          class="svg fan"
        ></SVGImage>
      </StackLayout>
    </ng-container>
  </ng-container>
</FlexboxLayout>
