mat-card {
  width: 240px;
  margin: 20px;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10%;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 0;
  opacity: 0;
  transition: opacity 0.2s;

  &.active {
    opacity: 1;
  }
}

.img-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.fan {
  transform: rotate(13deg);
}

.header {
  display: flex;
  align-items: center;
  .title {
    margin-right: auto;
    font-weight: 400;
  }
}

// .spin {
// 	transform: rotate(0deg);
// 	animation-name: spin;
// 	animation-duration: 2s;
// 	animation-iteration-count: infinite;
// 	animation-timing-function: linear;
// }

// @keyframes spin {
// 	from {
// 		transform: rotate(0deg);
// 	}
// 	to {
// 		transform: rotate(360deg);
// 	}
// }
