<mat-card class="card">
  <mat-card-header class="header">
    <div class="subheading-2 title">{{ device.productName }}</div>
    <div class="header-actions">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item>Edit</button> -->
        <button mat-menu-item (tap)="toggleDowndraft()">
          {{ getDowndraftLabel() }}
        </button>
      </mat-menu>
    </div>
  </mat-card-header>

  <mat-card-content *ngFor="let prop of device.properties">
    <app-slider
      *ngIf="prop.baseType === 'integer'"
      [value]="prop.value"
      (valueChanged)="onSliderChange($event, prop)"
    ></app-slider>
    <ng-container *ngIf="prop.baseType === 'boolean'">
      <div *ngIf="prop.name === 'SET_LIGHT0_ON_CTL'" class="img-wrapper">
        <img
          src="assets/images/default-light.svg"
          (click)="toggleProperty.emit(prop)"
          [class.active]="!prop.value"
        />
        <img
          src="assets/images/active-light.svg"
          (click)="toggleProperty.emit(prop)"
          [class.active]="prop.value"
        />
      </div>
      <div *ngIf="prop.name === 'SET_FAN_ON_CTL'" class="img-wrapper">
        <img
          src="assets/images/default-fan.svg"
          (click)="toggleProperty.emit(prop)"
          [class.active]="!prop.value"
          class="fan"
        />
        <img
          src="assets/images/active-fan.svg"
          (click)="toggleProperty.emit(prop)"
          [class.active]="prop.value"
          class="fan"
        />
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
