<app-form-box title="Resend user email confirmation">
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <app-text-input
      [control]="form.get('email')"
      placeholder="Email"
    ></app-text-input>

    <button
      mat-button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Resend Confirmation
    </button>
  </form>
  <mat-list class="auth-list">
    <mat-list-item><a routerLink="/login">Back to Login</a></mat-list-item>
    <mat-list-item><a routerLink="/sign-up/confirmation">Enter Confirmation Code</a></mat-list-item>
  </mat-list>
</app-form-box>
