<app-form-box>
  <StackLayout class="form" [formGroup]="form">
    <app-header text="Resend Email Confirmation"></app-header>

    <app-text-input
      [control]="form.get('email')"
      (returnPress)="onSubmit()"
      placeholder="Email"
      returnKeyType="done"
    ></app-text-input>

    <Button
      text="Resend Confirmation"
      [isEnabled]="form.valid"
      (tap)="onSubmit()"
      class="btn btn-primary m-t-20"
    ></Button>
    <Label
      text="Login"
      class="login-label spacer"
      nsRouterLink="/login"
    ></Label>
    <Label
      text="Enter Confirmation Code"
      class="login-label spacer"
      nsRouterLink="/sign-up/confirmation"
    ></Label>
  </StackLayout>
</app-form-box>
