.header {
  text-align: center;
  font-size: 16;
  font-weight: bold;
}

ScrollView {
  background-color: black;
}

label {
  color: #f8f8f8;
}

.field {
    color: white;
    border-width: 0 0 1 0;
    border-bottom-color: #FFD740;
}
