<ScrollView>
  <WearOsLayout>
    <StackLayout class="form" [formGroup]="form">
      <Label text="Simple Fan Control" class="header"></Label>
      <TextField
        class="field"
        formControlName="email"
        hint="Email"
        keyboardType="email"
        autocorrect="false"
        autocapitalizationType="none"
        style.placeholderColor="#B2B2B2"
      ></TextField>
      <TextField
        class="field"
        formControlName="password"
        hint="Password"
        secure="true"
        style.placeholderColor="#B2B2B2"
        autocorrect="false"
        autocapitalizationType="none"
        returnKeyType="done"
        (returnPress)="onSubmit()"
      ></TextField>
      <Label class="error" textWrap="true" [text]="error"></Label>
      <Button text="Log In" (tap)="onSubmit()"></Button>
      <Label class="" textWrap="true" text="Sign up in our Native App"></Label>
    </StackLayout>
  </WearOsLayout>
</ScrollView>
