<mat-form-field class="full-width" floatLabel="always">
  <input
    matInput
    [formControl]="control"
    [placeholder]="placeholder"
    [type]="type"
    [attr.autofocus]="autofocus"
  />
  <mat-hint>{{ hint }}</mat-hint>
  <mat-error *ngIf="control.errors?.required"
    >This field is required.</mat-error
  >
  <mat-error *ngIf="control.errors?.email"
    >This field must be a valid email.</mat-error
  >
</mat-form-field>
