@import "../../../app-variables";

label {
  color: $base-color;
  margin-bottom: 10;
}

TextField {
  border-bottom-width: 0.5;
  width: 100%;
}

.ng-invalid.ng-touched {
  border-bottom-width: 1;
  border-color: red;
}

label.error {
  color: red;
  font-size: 12;
}
