<StackLayout class="input-field">
  <Label [text]="placeholder"></Label>
  <TextField
    class="input"
    [keyboardType]="getKeyboardType()"
    [secure]="getSecure()"
    autocorrect="false"
    autocapitalizationType="none"
    [formControl]="control"
    [returnKeyType]="returnKeyType"
    (returnPress)="returnPress.emit()"
  ></TextField>
  <Label class="label" *ngIf="hint" [text]="hint" textWrap="true"></Label>
  <ng-container *ngIf="control.touched">
    <Label
      *ngIf="control.errors?.required"
      text="This field is required."
      class="error"
    ></Label>
    <Label
      *ngIf="control.errors?.email"
      text="This field must be a valid email."
      class="error"
    ></Label>
  </ng-container>
</StackLayout>
