@import '../../../app-variables';

.header {
  color: $base-color;
}

.title {
  font-size: 25;
  font-weight: 600;
}

.subtitle {
  font-size: 18;
  color: lighten($base-color, 20%);
  font-weight: 500;
}

.big-bottom-pad {
  margin-bottom: 70;
}

.normal-pad {
  margin-bottom: 15;
}

.align-center {
  horizontal-align: center;
  text-align: center;
}

.align-left {
  horizontal-align: left;
  text-align: left;
}
