<app-form-box
  title="Log In"
  subtitle="Use your SimpleConnect Wifi for Android credentials"
>
  <form [formGroup]="form" class="form" novalidate (ngSubmit)="onSubmit()">
    <app-text-input
      [control]="form.get('email')"
      placeholder="Email address"
    ></app-text-input>
    <app-text-input
      [control]="form.get('password')"
      placeholder="Password"
      type="password"
    ></app-text-input>
    <app-error-message [message]="error"></app-error-message>
    <button
      mat-button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Login
    </button>
  </form>
  <mat-list class="auth-list">
    <mat-list-item
      ><a routerLink="forgot-password">Forgot your password?</a></mat-list-item
    >
    <mat-list-item
      ><a routerLink="resend-confirmation"
        >Resend email confirmation</a
      ></mat-list-item
    >
    <mat-list-item
      >Don't have an account?&nbsp;<a routerLink="/sign-up"
        >Sign up</a
      ></mat-list-item
    >
  </mat-list>
</app-form-box>
