<ActionBar title="Simple Fan Control"> </ActionBar>

<app-form-box>
  <StackLayout class="form" [formGroup]="form">
    <app-header text="Log In"></app-header>
    <Label text="Use your SimpleConnect Wifi for Android credentials"></Label>

    <app-text-input
      [control]="form.get('email')"
      type="email"
      placeholder="Email"
    ></app-text-input>
    <app-text-input
      [control]="form.get('password')"
      type="password"
      returnKeyType="done"
      placeholder="Password"
      (returnPress)="onSubmit()"
    ></app-text-input>

    <app-error-message [message]="error"></app-error-message>

    <Button
      text="Log In"
      (tap)="onSubmit()"
      [isEnabled]="form.valid"
      class="btn btn-primary m-t-20"
    ></Button>
    <Label
      text="Forgot your password?"
      class="login-label spacer"
      nsRouterLink="forgot-password"
    ></Label>
    <Label
      text="Resend email confirmation"
      class="login-label spacer"
      nsRouterLink="resend-confirmation"
    ></Label>
  </StackLayout>

  <Label class="login-label sign-up-label" [nsRouterLink]="['/sign-up']">
    <FormattedString>
      <Span text="Don’t have an account? " style="color: #a8a8a8;"></Span>
      <Span text="Sign up" class="bold"></Span>
    </FormattedString>
  </Label>
</app-form-box>
