.card {
  width: 100%;
  max-width: 400px;

  .mat-card-title {
    margin-bottom: 20px;
  }
}

$toolbar-height: 64px;

.main-div {
  display: flex;
  height: calc(100vh - #{$toolbar-height});
  padding-top: $toolbar-height;
  justify-content: center;
  align-items: center;
}

.toolbar {
  position: absolute;
}

.home {
  cursor: pointer;
}
