@import '../../../app-variables';

.page {
  align-items: center;
  flex-direction: column;
}

::ng-deep .btn-primary {
  height: 50;
  margin: 30 5 15 5;
  background-color: $base-color;
  border-radius: 5;
  font-size: 20;
  font-weight: 500;
}

::ng-deep .login-label {
  horizontal-align: center;
  color: $base-color;
  font-size: 16;
}

::ng-deep .spacer {
  margin-top: 15;
}
