<mat-toolbar class="toolbar" color="primary">
  <span routerLink="" class="home">
    Simple Fan Control
  </span>
</mat-toolbar>

<div class="main-div">
  <mat-card class="card">
    <mat-card-title>
      {{ title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ subtitle }}
    </mat-card-subtitle>
    <mat-card-content>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</div>
