<app-form-box>
  <StackLayout class="form" [formGroup]="form">
    <app-header text="Reset your password"></app-header>

    <app-text-input
      [control]="form.get('email')"
      placeholder="Email"
      returnKeyType="done"
      (returnPress)="onSubmit()"
    ></app-text-input>

    <app-error-message [message]="error"></app-error-message>

    <Button
      text="Reset Password"
      [isEnabled]="form.valid"
      (tap)="onSubmit()"
      class="btn btn-primary m-t-20"
    ></Button>
    <Label
      text="Login"
      class="login-label spacer"
      nsRouterLink="/login"
    ></Label>
  </StackLayout>
</app-form-box>
