.form {
  margin-left: 30;
  margin-right: 30;
  flex-grow: 2;
  vertical-align: middle;
}

.input-field {
  margin-bottom: 25;
}

.sign-up-label {
  margin-bottom: 20;
}

.bold {
  color: #000000;
}
