<app-form-box title="Account Confirmation">
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <app-text-input
      [control]="form.get('confirmationToken')"
      placeholder="Confirmation Token"
    ></app-text-input>
    <button
      mat-button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Confirm Account
    </button>
  </form>

  <mat-list class="auth-list">
    <mat-list-item><a routerLink="/login">Sign in</a></mat-list-item>
  </mat-list>
</app-form-box>
