<app-form-box>
  <StackLayout class="form" [formGroup]="form">
    <app-header text="Enter Confirmation Code"></app-header>
    <app-text-input
      [control]="form.get('confirmationToken')"
      (returnPress)="onSubmit()"
      returnKeyType="done"
      placeholder="Confirmation Token"
    ></app-text-input>
    <Button
      text="Confirm Account"
      (tap)="onSubmit()"
      [isEnabled]="form.valid"
      class="btn btn-primary m-t-20"
    ></Button>
    <Label
      text="Log In"
      class="login-label spacer"
      nsRouterLink="/login"
    ></Label>
  </StackLayout>
</app-form-box>
