<app-form-box>
  <StackLayout class="form" [formGroup]="form">
    <app-header text="Set New Password"></app-header>

    <app-text-input
      [control]="form.get('token')"
      placeholder="Token"
    ></app-text-input>
    <app-text-input
      [control]="form.get('password')"
      type="password"
      returnKeyType="done"
      placeholder="Password"
    ></app-text-input>
    <app-text-input
      [control]="form.get('passwordConfirm')"
      type="password"
      placeholder="Password Confirm"
      returnKeyType="done"
      (returnPress)="onSubmit()"
    ></app-text-input>

    <Button
      text="Set Password"
      [isEnabled]="form.valid"
      (tap)="onSubmit()"
      class="btn btn-primary m-t-20"
    ></Button>
    <Label text="Login" class="login-label spacer" nsRouterLink="/login"></Label>
  </StackLayout>
</app-form-box>
