<app-form-box title="Set your password">
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width" floatLabel="always">
      <input matInput formControlName="token" placeholder="Token" />
    </mat-form-field>
    <mat-form-field class="full-width" floatLabel="always">
      <input
        matInput
        formControlName="password"
        placeholder="Password"
        type="password"
      />
    </mat-form-field>
    <mat-form-field class="full-width" floatLabel="always">
      <input
        matInput
        formControlName="passwordConfirm"
        placeholder="Confirm Password"
        type="password"
      />
    </mat-form-field>
    <button
      mat-button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Change password
    </button>
  </form>
  <mat-list class="auth-list">
    <mat-list-item><a routerLink="/login">Back to Login</a></mat-list-item>
  </mat-list>
</app-form-box>
