<app-form-box>
  <ScrollView>
    <StackLayout class="form" [formGroup]="form">
      <app-header text="Create Account"></app-header>

      <app-text-input
        [control]="form.get('firstname')"
        placeholder="First Name"
      ></app-text-input>
      <app-text-input
        [control]="form.get('lastname')"
        placeholder="Last Name"
      ></app-text-input>
      <app-text-input
        [control]="form.get('email')"
        placeholder="Email"
        errorMessage="Enter a valid email"
      ></app-text-input>
      <app-text-input
        [control]="form.get('password')"
        placeholder="Enter Password"
        type="password"
        hint="At least 6 characters long and include at least 1 uppercase letter, 1 lowercase letter, and 1 digit."
      ></app-text-input>
      <app-text-input
        [control]="form.get('passwordConfirm')"
        placeholder="Confirm Password"
        type="password"
      ></app-text-input>
      <app-text-input
        [control]="form.get('street')"
        placeholder="Address (Optional)"
      ></app-text-input>
      <app-text-input
        [control]="form.get('city')"
        placeholder="City (Optional)"
      ></app-text-input>
      <app-text-input
        [control]="form.get('zip')"
        placeholder="Zip Code (Optional)"
      ></app-text-input>
      <app-text-input
        [control]="form.get('country')"
        placeholder="Country (Optional)"
        returnKeyType="done"
        (returnPress)="onSubmit()"
      ></app-text-input>

      <app-error-message [message]="error"></app-error-message>

      <Button
        [text]="'Create Account'"
        (tap)="onSubmit()"
        [isEnabled]="form.valid"
        class="btn btn-primary m-t-20"
      ></Button>
    </StackLayout>
  </ScrollView>
</app-form-box>
