<app-form-box title="Create Account">
  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit()">
    <app-text-input
      [control]="form.get('firstname')"
      placeholder="First Name"
      [autofocus]="true"
    ></app-text-input>
    <app-text-input
      [control]="form.get('lastname')"
      placeholder="Last Name"
    ></app-text-input>
    <app-text-input
      [control]="form.get('email')"
      placeholder="Email"
      errorMessage="Enter a valid email"
    ></app-text-input>
    <app-text-input
      [control]="form.get('password')"
      placeholder="Enter Password"
      type="password"
      hint="Password must be at least 6 characters long and include at least 1 uppercase letter, 1 lowercase letter, and 1 digit or special character."
    ></app-text-input>
    <app-text-input
      [control]="form.get('passwordConfirm')"
      placeholder="Confirm Password"
      type="password"
    ></app-text-input>
    <app-error-message
      *ngIf="
        form.invalid &&
        form.controls?.passwordConfirm?.touched === true &&
        form.errors?.notSame
      "
      message="Confirm Password must be the same"
    ></app-error-message>
    <app-text-input
      [control]="form.get('street')"
      placeholder="Address (Optional)"
    ></app-text-input>
    <app-text-input
      [control]="form.get('city')"
      placeholder="City (Optional)"
    ></app-text-input>
    <app-text-input
      [control]="form.get('zip')"
      placeholder="Zip Code (Optional)"
    ></app-text-input>
    <app-text-input
      [control]="form.get('country')"
      placeholder="Country (Optional)"
    ></app-text-input>
    <app-error-message [message]="error"></app-error-message>
    <button
      mat-button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Create Account
    </button>
  </form>
  <mat-list class="auth-list">
    <mat-list-item
      >Already have an account?&nbsp;<a routerLink=""
        >Back to login</a
      ></mat-list-item
    >
  </mat-list>
</app-form-box>
