<mat-toolbar color="primary">
  Privacy Policy
</mat-toolbar>

<mat-card>
  <mat-card-content>
    Simple Fan Control does not store any of your personal information on our servers. Any personal information entered here is passed along to Ayla Networks, and is subject to their <a href="https://www.aylanetworks.com/privacy-policy">privacy policy</a>.
  </mat-card-content>
</mat-card>
