<ScrollView>
  <WearOsLayout>
    <StackLayout>
      <Label *ngIf="hasLoaded && devices.length === 0" textWrap="true" class="header" text="Once fans are added, they will appear here."></Label>
      <StackLayout *ngFor="let device of devices" class="device">
        <Label class="header" [text]="device.productName"></Label>
        <ng-container *ngFor="let prop of device.properties">
          <ng-container *ngIf="prop.baseType === 'integer'">
            <app-slider
              [value]="prop.value"
              (valueChanged)="onSliderChange($event, prop)"
            ></app-slider>
          </ng-container>
          <ng-container *ngIf="prop.baseType === 'boolean'">
            <ng-container *ngIf="prop.name === 'SET_LIGHT0_ON_CTL'">
              <SVGImage
                *ngIf="!prop.value"
                src="~/assets/images/default-light.svg"
                (tap)="toggleProperty.emit(prop)"
                class="svg"
                height="40"
              ></SVGImage>
              <SVGImage
                *ngIf="prop.value"
                src="~/assets/images/active-light.svg"
                (tap)="toggleProperty.emit(prop)"
                class="svg"
                height="40"
              ></SVGImage>
            </ng-container>
            <ng-container *ngIf="prop.name === 'SET_FAN_ON_CTL'">
              <SVGImage
                *ngIf="!prop.value"
                src="~/assets/images/default-fan.svg"
                (tap)="toggleProperty.emit(prop)"
                class="svg"
                height="40"
              ></SVGImage>
              <SVGImage
                *ngIf="prop.value"
                src="~/assets/images/active-fan.svg"
                (tap)="toggleProperty.emit(prop)"
                class="svg"
                height="40"
              ></SVGImage>
            </ng-container>
          </ng-container>
        </ng-container>
      </StackLayout>
    </StackLayout>
  </WearOsLayout>
</ScrollView>
