/* Add mobile styles for the component here.  */
.header {
  text-align: center;
  font-size: 16;
  font-weight: bold;
}

.svg {
  width: 40;
}

ScrollView {
  background-color: black;
}

label {
  color: #f8f8f8;
}

.device {
  padding-bottom: 15;
}

.slider {
  background-color: black;
}
