/* You can add global styles to this file, and also import other style files */

// Import common styles
@import "app-common";
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// https://www.materialpalette.com/colors
// http://mcg.mbitson.com
$base-color: #31383f;

$md-mcgpalette0: (
    50 : #e6e7e8,
    100 : #c1c3c5,
    200 : #989c9f,
    300 : #6f7479,
    400 : #50565c,
    500 : $base-color,
    600 : #2c3239,
    700 : #252b31,
    800 : #1f2429,
    900 : #13171b,
    A100 : #61b0ff,
    A200 : #2e96ff,
    A400 : #007dfa,
    A700 : #0070e0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$candy-app-primary: mat-palette($md-mcgpalette0);
$candy-app-accent:  mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body {
  margin: 0;
}

.m-t-10 {
  margin-top: 10px;
}

a {
    color: mat-color($candy-app-primary);

    &:active {
        color: mat-color($candy-app-accent);
    }

    &:hover {
        color: mat-color($candy-app-primary, 300);
    }
}

.app-warn {
    color: mat-color($candy-app-warn);
}

.auth-list.mat-list-base .mat-list-item {
  height: 36px;

  .mat-list-item-content {
    padding: 0;
  }
}
