@import '../../../app-variables';

StackLayout {
  padding: 18;
}

Label {
  margin-bottom: 15;
}

.btn-primary {
  margin: 10 0 25;
  background-color: $base-color;
  border-radius: 5;
  font-size: 16;
  font-weight: 500;
  horizontal-align: left;
}
