.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card {
  width: 320px;
  margin: 20px;
}

mat-divider {
  margin: 20px 0 !important;
}

app-device-card ::ng-deep mat-card {
  // opacity: 0.6;
  position: relative;
  user-select: none;
  pointer-events: none;

  mat-card-title {
    background-color: lightgray;
    color: lightgray;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.5);
    border-radius: 4px;
    z-index: 1;
  }

  &:after {
    content: 'Sample';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #989c9f;
    font-weight: 700;
    background-color: white;
    padding: 15px;
    z-index: 2;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
  }
}