<div class="wrapper">
  <mat-card>
    <mat-card-title>
      You successfully logged in to Simple Fan Control!
    </mat-card-title>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-subtitle>
      Get your QR code ready
    </mat-card-subtitle>
    <p>
      You will need the QR code that comes with your device. It's located in the user's manual and in the battery compartment of your remote control (if you have one).
    </p>
    <mat-card-subtitle>
      Add a device
    </mat-card-subtitle>
    <p>
      Add devices using the Simpleconnect Wi-Fi mobile app provided by Hunter Fan Company.
    </p>
    <p>
      Install it on
      <a target="_blank" [href]="simpleConnectGooglePlay">Google Play</a>
      or
      <a
        target="_blank"
        [href]="simpleConnectAppStore"
        >Apple's App Store</a
      >.
    </p>

    <p>
      Sign in with the same credentials you used here. Add
      your device. Then come back here.
    </p>

    <mat-card-subtitle>
      Android app
    </mat-card-subtitle>
    <p>
      Download Simple Fan Control in the <a [href]="simpleFanControlGooglePlay">Play Store</a>.
    </p>
  </mat-card>

  <app-device-card
    [device]="sampleFan"
    (sliderChange)="bloop()"
    (toggleProperty)="bloop()"
  ></app-device-card>
</div>
