<ScrollView>
  <StackLayout>
    <app-header
      text="You successfully logged in to Simple Fan Control!"
      [bigBottomPad]="false"
      [alignCenter]="false"
    ></app-header>

    <app-header
      text="Get your QR code ready"
      type="subtitle"
      [bigBottomPad]="false"
      [alignCenter]="false"
    ></app-header>

    <Label
      textWrap="true"
      text="You will need the QR code that comes with your device. It's located in the user's manual and in the battery compartment of your remote control (if you have one)."
    ></Label>

    <app-header
      text="Add a device"
      type="subtitle"
      [bigBottomPad]="false"
      [alignCenter]="false"
    ></app-header>
    <Label
      textWrap="true"
      text="Add devices using the Simpleconnect Wi-Fi mobile app provided by Hunter Fan Company."
    ></Label>

    <Button
      text="Go to Simpleconnect on Google Play"
      (tap)="openSimpleconnectGooglePlay()"
      class="btn btn-primary"
    ></Button>

    <Label
      textWrap="true"
      text="Sign in with the same credentials you used here. Add your device. Then come back here."
    ></Label>

    <app-header
      text="Web app"
      type="subtitle"
      [bigBottomPad]="false"
      [alignCenter]="false"
    ></app-header>

    <Label
      textWrap="true"
      text="Control your fan anywhere you have a web browser."
    ></Label>

    <Button
      text="Open Simple Fan Control Website"
      (tap)="openWebApp()"
      class="btn btn-primary"
    ></Button>

  </StackLayout>
</ScrollView>
