<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar class="home__toolbar" color="primary"
  >Fans
  <button mat-raised-button color="primary" routerLink="/account">
    Account
  </button></mat-toolbar
>

<app-onboarding *ngIf="hasLoaded && devices.length === 0"></app-onboarding>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <ng-container *ngFor="let device of devices">
    <app-device-card
      [device]="device"
      (sliderChange)="sliderChange.emit($event)"
      (toggleProperty)="toggleProperty.emit($event)"
    ></app-device-card>
  </ng-container>
</div>
