<ActionBar [title]="title">
  <ActionItem
    nsRouterLink="/account"
    text="Change Password"
    android.position="popup"
  ></ActionItem>
  <ActionItem
    (tap)="signOut.emit()"
    text="Log Out"
    android.position="popup"
  ></ActionItem>
  <ActionItem
    *ngIf="downdraftLabel"
    (tap)="toggleDowndraft()"
    [text]="downdraftLabel"
    android.position="popup"
  >
  </ActionItem>
</ActionBar>

<app-onboarding *ngIf="devices?.length === 0"></app-onboarding>

<StackLayout>
  <Carousel
    [items]="devices"
    (pageChanged)="onPagerIndexChanged($event)"
    height="90%"
  >
    <CarouselItem *ngFor="let item of devices">
      <StackLayout class="card">
        <app-device-card
          [device]="item"
          (sliderChange)="sliderChange.emit($event)"
          (toggleProperty)="toggleProperty.emit($event)"
        ></app-device-card>
      </StackLayout>
    </CarouselItem>
  </Carousel>
</StackLayout>
