<app-form-box title="Account">
  <form [formGroup]="form" class="form" (ngSubmit)="changePassword()">
    <app-text-input
      [control]="form.get('oldPassword')"
      placeholder="Current Password"
      type="password"
    ></app-text-input>
    <app-text-input
      [control]="form.get('password')"
      placeholder="Enter New Password"
      type="password"
      hint="Password must be at least 6 characters long and include at least 1 uppercase letter, 1 lowercase letter, and 1 digit or special character."
    ></app-text-input>
    <app-text-input
      [control]="form.get('passwordConfirm')"
      placeholder="Confirm New Password"
      type="password"
    ></app-text-input>
    <app-error-message
      *ngIf="
        form.invalid &&
        form.controls?.passwordConfirm?.touched === true &&
        form.errors?.notSame
      "
      message="Confirm Password must be the same"
    ></app-error-message>
    <button
      mat-button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!form.valid"
    >
      Change password
    </button>
  </form>

  <mat-card-actions class="other_actions">
    <button mat-raised-button color="accent" (click)="signOut()">
      Sign Out
    </button>
    <button mat-raised-button color="warn" (click)="warnAndDelete()">
      Delete Account
    </button>
  </mat-card-actions>
</app-form-box>
