<app-form-box>
  <StackLayout class="form" [formGroup]="form">
    <app-header text="Account Change Password"></app-header>

    <app-text-input
      [control]="form.get('oldPassword')"
      placeholder="Current Password"
      type="password"
    ></app-text-input>
    <app-text-input
      [control]="form.get('password')"
      placeholder="Enter New Password"
      type="password"
      hint="Password must be at least 6 characters long and include at least 1 uppercase letter, 1 lowercase letter, and 1 digit or special character."
    ></app-text-input>
    <app-text-input
      [control]="form.get('passwordConfirm')"
      placeholder="Confirm New Password"
      returnKeyType="done"
      (returnPress)="changePassword()"
      type="password"
    ></app-text-input>
    <app-error-message
      *ngIf="
        form.invalid &&
        form.controls?.passwordConfirm?.touched === true &&
        form.errors?.notSame
      "
      message="Confirm Password must be the same"
    ></app-error-message>
    <Button
      text="Change Password"
      (tap)="changePassword()"
      [isEnabled]="form.valid"
      class="btn btn-primary m-t-20"
    ></Button>
  </StackLayout>
</app-form-box>
